.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.name__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.name__logo>h1{
color:yellow;
text-decoration:underline;
font-family: cursive;

}

  .login__container {
    width: 500px;
    height: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    color: black;
    background-color: aquamarine;
}

.login__container > h1 {
    font-weight: 500px;
    margin-top:15px;
    margin-bottom:5px;
    color:black;
  }
  .login__container > form{
   margin-top: 10px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
    color: black;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color:lightgrey;
    width: 98%;
  }

.login__signInButton {
  background:yellow;
  height:30px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 15px;
  border-color:darkmagenta;
  color: #111;
  width: 100%;
  justify-content: center;
  }
